.slide{
    margin-top: 10px;
}
.slide img{
width: 65vh;
}
.carousel-caption h5{
    font-size: 8px;
}
.carousel-caption button{
    font-size: 6px;
    color: white;
    
}
.videop{
    background-color:  rgb(152, 150, 240);
    margin-top: 10px;
    text-align: center;
}
.videop h2{
    font-size: 12px;
    padding-top: 5px;
    color: white;
}
.videop p{
    color: white;
    font-size: 8px;
}
.videop iframe{
    width: 95vw;
    height: auto;
}
.videop button{
    font-size: 6px;
    color: white;
}
.musichelp{
    margin-top: 10px;
    padding: 10px;
    background-color:  rgb(152, 150, 240);
}
.musichelp img{
    width: 95vw;
    height: auto;
}
.musichelp p{
    color: white;
}
.musichelp h2{
    color: white;
}
.pagar{
    text-align: center;
}
.pagar img{
    width:60px;
    height: auto;
    margin: 0 auto;
    padding: 5px;
}
.fotost1{
    text-align: center;
    
}