.header img {
    animation-duration: 3s;
    animation-name: logo;
    animation-iteration-count: initial;

}

.navbar-toggler-icon {
    width: 20px;
    height: 20px;

}

.nav-item a {
    font-size: 8px;
}

.slide {
    margin-top: 10px;
}

.slide img {
    width: 65vh;
}

.carousel-caption h5 {
    font-size: 8px;
    color: white;
    font-weight: 600;
}

.carousel-caption button {
    font-size: 6px;
    color: white;

}

.videop {
    background-color: rgb(152, 150, 240);
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.videop h2 {
    font-size: 12px;
    padding-top: 5px;
    color: white;
}

.videop p {
    color: white;
    font-size: 8px;
}

.videop iframe {
    width: 95vw;
    height: auto;
}

.videop button {
    font-size: 6px;
    color: white;

}

.rowr {
    flex-direction: column-reverse
}

.musichelp {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(152, 150, 240);
    text-align: center;
}

.musichelp img {
    width: 65vw;
    height: auto;

}

.musichelp p {
    color: white;
    font-size: 8px;
}

.musichelp h2 {
    font-size: 12px;
    padding-top: 5px;
    color: white;
}

.pagar {
    text-align: center;
    background-color: rgb(152, 150, 240);
    margin-top: 10px;
}

.pagar img {
    width: 45px;
    height: auto;
    margin: 0 auto;
    padding: 5px;
}

.pagar h2 {
    font-size: 12px;
    padding-top: 5px;
    font-size: 12px;
    padding-top: 5px;

}

.pagar button {
    font-size: 6px;
    color: white;
}

.fotost1 {
    text-align: center;

}

.footer {
    background-color: black;
}

.footer p {
    font-size: 8px;
    color: white;
}

/* pagina tutoriales */
.slider {
    margin-top: 10px;
}

.slider img {
    width: 65vh;
}

.videost1 {
    margin-top: 10px;
    text-align: center;
}

.videost iframe {
    width: 320px;
    height: auto;
}

.videost h2 {
    font-size: 12px;
    background-color: rgb(152, 150, 240);
    border-radius: 20px;
    padding: 5px 0px 5px 0px;
    color: white;
}

.redessociales {
    text-align: center;
}

.redessociales img {
    width: 20px;
    padding: 0 px 3px 0px 3px;
}

/* pagina plan de estudio */
h1 {
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    border-radius: 10px;

}

.tabla {
    font-size: 8px;
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    border: .2px black solid;
    margin-top: 2px;
}

.tabla_fila {
    margin: 0px;
    padding: 0px;
}


.fila {
    font-size: 8px;
    background-color: rgba(169, 93, 240, 0.712);
    color: white;
    font-weight: 500;
    border: .2px black solid;

}

.teens {
    margin-top: 5px;
}

/* inscripciones */
.videoi {
    text-align: center;
    margin-top: 10px;
}

.videoi iframe {
    width: 95vw;
    height: auto;
}
.tituloi{
    font-size: 12px;
}
.imageni img {
    width: 95vw;
    height: auto;
    margin-top: 10px;
}

.tituloin {
    background-color: rgb(195, 224, 62);
}

.inscripcionest {
    background-color: rgb(152, 150, 240);
}
.inscripcionest h2{
    font-size: 12px;
}
.inscripcionest p{
    font-size: 8px;
}
.inscripcionest button {
    color: white;
    font-size: 8px;
}

.btnins {
    font-size: 8px;
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* contacto */
.formulario{
    background-color: blueviolet ;
    
}
.formulario h5{
    font-size: 12px;
}
.formulario input{
    width: 70vw;
    margin-top: 10px;
    font-size: 8px;
    margin-bottom: 10px;
}
.formulario label{
    width: 80vw;
    margin-top: 10px;
    font-size: 8px;
}
.botonese input{
    width: 25vw;
}
.formulario select{
    width: 80vw;
    margin-top: 10px;
    font-size: 8px;
}
.mapa iframe{
    width: 85vw;
}
.texto{
    font-size: 8px;
}




/* fin formulario */

/* animacion logo */
@keyframes logo {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    100% {
        transform: scale (1);
    }
}

/* responsive */


/* tablet */
@media (min-width:768px) {
    .carousel-caption h5 {
        font-size: 16px;
        margin-top: 20px;
    }

    .nav-item a {
        font-size: 12px;
    }

    .carousel-caption button {
        margin-top: 20px;
        font-size: 14px;

    }

    .videop h2 {
        font-size: 16px;
        padding-top: 5px;


    }

    .videop p {
        font-size: 14px;
    }

    .videop iframe {
        width: 95vw;
        height: 45vh;
    }

    .videop button {
        font-size: 14px;
        padding: 10px;

    }

    .rowr {
        flex-direction: column-reverse;
        align-items: center;
    }

    .musichelp img {
        width: 30vw;
        height: auto;

    }

    .musichelp p {

        font-size: 14px;
    }

    .musichelp h2 {
        font-size: 16px;

    }

    .pagar img {
        width: 80px;
    }

    .pagar h2 {
        font-size: 16px;
        color: white;
        font-weight: 600;

    }

    .pagar button {
        font-size: 14px;
        color: white;
    }

    .footer p {
        font-size: 14px;
    }

    .redessociales img {
        width: 45px;
    }

    .videost iframe {
        width: 95vw;
        height: 30vh;
    }

    .videost h2 {
        font-size: 16px;
        text-align: center;
    }

    /* plan estudio */
    h1 {
        font-size: 16px;
        padding: 12px;
    }

    .tabla {
        font-size: 15px;
        padding: 1px;

    }

    .fila {
        font-size: 15px;
        padding: 1px;
    }

    .footer {
        margin-top: 5px;
    }

    /* inscripciones */
    .videoi {
        text-align: center;
        margin-top: 10px;
    }

    .videoi iframe {
        width: 95vw;
        height: 30vh;
    }

    .imageni img {
        width: 80vw;
        height: auto;
        margin-top: 10px;
    }
    .tituloi{
        font-size: 18px;
    }
    .tituloin {
        background-color: rgb(195, 224, 62);
    }

    .inscripcionest {
        background-color: rgb(152, 150, 240);
    }

    .inscripcionest button {
        color: white;
        font-size: 8px;
    }

    .btnins {
        font-size: 8px;
        text-align: center;
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .inscripcionest h2{
        font-size: 16px;
    }
    .inscripcionest p{
        font-size: 14px;
    }
    /* fin inscripciones */

    /* formulario */
    .formulario{
        width: 85vw;
        margin: auto;
    }
    .formulario h5{
        font-size: 16px;
    }
    .formulario input{
        width: 55vw;
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .formulario label{
        width: 80vw;
        margin-top: 10px;
        font-size: 12px;
    }
    .botonese input{
        width: 15vw;
        padding: 3px;
    }
    .formulario select{
        width: 80vw;
        margin-top: 10px;
        font-size: 12px;
    }
    .mapa iframe{
        width: 85vw;
    }
    .texto{
        font-size: 12px;
        width: 55vw;
    }
    
}

/* escritorio */
@media (min-width:1024px) {

    .header img {
        width: 200px;

    }

    .nav-item a {
        font-size: 16px;
    }

    .carousel-caption h5 {
        font-size: 30px;
        margin-top: 20px;
    }

    .carousel-caption button {
        margin-top: 20px;
        font-size: 24px;

    }

    .videop h2 {
        font-size: 24px;
        padding-top: 5px;



    }

    .videop p {
        font-size: 18px;
        padding: 25px;
    }

    .videop iframe {
        width: 95vw;
        height: 65vh;
    }

    .videop button {
        font-size: 18px;
        padding: 10px;

    }




    .musichelp img {
        width: 35vw;
        height: auto;

    }

    .musichelp p {

        font-size: 18px;
    }

    .musichelp h2 {
        font-size: 24px;

    }

    .pagar img {
        width: 120px;
        padding: 10px 25px 0px 40px;
    }

    .pagar h2 {
        font-size: 24px;
        color: white;
        font-weight: 600;

    }

    .pagar button {
        font-size: 18px;
        color: white;
    }

    .footer p {
        font-size: 18px;
    }

    .redessociales img {
        width: 45px;
    }

    .videost1 {
        display: flex;
        justify-content: space-between
    }

    .videost2 {
        display: flex;
        justify-content: space-between
    }

    .videost iframe {

        width: 40vw;
        height: 40vh;


    }

    .videost {
        padding: 30px;
    }

    .videost1 .videost2 h2 {
        font-size: 30px;
    }

    /* plan de estudio */
    h1 {
        font-size: 24px;
        padding: 12px;
    }

    .tabla {
        font-size: 18px;
        padding: 1px;

    }

    .fila {
        font-size: 18px;
        padding: 1px;
    }

    .teens {
        margin-top: 20px;
    }

    .footer {
        margin-top: 10px;
    }
    /* inscripciones */
    .videoi {
        text-align: center;
        margin-top: 10px;
    }

    .videoi iframe {
        width: 95vw;
        height: 70vh;
    }

    .imageni img {
        width: 40vw;
        height: auto;
        margin-top: 10px;
    }
    .tituloi{
        font-size: 28px;
    }
    .tituloin {
        background-color: rgb(195, 224, 62);

    }

    .inscripcionest {
        background-color: rgb(152, 150, 240);
        justify-content: flex-end;
        
        
    }

    .inscripcionest button {
        color: white;
        font-size: 18px;
    }

    .btnins {
        font-size: 18px;
        text-align: center;
        color: white;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .inscripcionest h2{
        font-size: 28px;
        margin-top: 15px;
    }
    .inscripcionest p{
        font-size: 18px;
    }
    .inscr{
        max-width: 1900px;
        margin: 0px auto;
        padding: 0px;
        
    }
     /* formulario */
     .formulario{
        width: 85vw;
        margin: auto;
     }
     .formulario h5{
        font-size: 16px;
        
    }
    .formulario input{
        width: 50vw;
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: 10px;
        padding: 8px;
    }
    .formulario label{
        width: 50vw;
        margin-top: 10px;
        font-size: 12px;
    }
    .botonese input{
        width: 10vw;
        padding: 8px;
    }
    .formulario select{
        width: 15vw;
        margin-top: 10px;
        font-size: 12px;
    }
    .mapa iframe{
        width: 85vw;
    }
    .texto{
        font-size: 12px;
        width: 50vw;
    }
}